<!DOCTYPE HTML>

<html>
	<head>
		<title>Aynur Demir</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="static/assets/css/main.css" />
		<noscript><link rel="stylesheet" href="static/assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">
		<div id="wrapper">
			<div id="bg"></div>
			<div id="overlay"></div>
			<div id="main">

				<!-- Header -->
					<header id="header">
						<h1>Aynur Demir</h1>
						<p>English Teacher &nbsp;&bull;&nbsp; Junior Developer &nbsp;&bull;&nbsp; Web Designer</p>
						<nav>
							<ul>
								<li><a href="https://twitter.com/MaanLiCht91" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
								<li><a href="https://www.instagram.com/aynur91/" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
								<li><a href="https://dribbble.com/Maanlicht91" class="icon brands fa-dribbble"><span class="label">Dribbble</span></a></li>
								<li><a href="https://github.com/Maanlicht91" class="icon brands fa-github"><span class="label">Github</span></a></li>
								<li><a href="mailto:aynurdemir@hotmail.com" class="icon solid fa-envelope"><span class="label">Email</span></a></li>
							</ul>
						</nav>
					</header>

				<!-- Footer -->
					<footer id="footer">
						<span class="copyright">&copy; Maanlicht Design: <a href="https://maanlicht91.github.io/cv/">My Website</a>.</span>
					</footer>

			</div>
		</div>
		<script>
			window.onload = function() { document.body.classList.remove('is-preload'); }
			window.ontouchmove = function() { return false; }
			window.onorientationchange = function() { document.body.scrollTop = 0; }
		</script>
	</body>
</html>